APP_NAME=OLT-BACKEND
NODE_ENV=development

IP_ADDRESS=0.0.0.0
PORT=8000

LOG_LEVEL=debug

SYSLOG_STRICT_MODE=false
SYSLOG_BIND_ADDRESS=0.0.0.0
SYSLOG_PORT=514
SYSLOG_ALLOWED_IPS=

SCHEDULER=false

DATABASE_URL="postgresql://db_user:db_pass@localhost:5432/db_name"
JWT_SECRET=SUPER_SECRET_KEY

TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=