NODE_ENV=development
SYSLOG_STRICT_MODE=false
SYSLOG_BIND_ADDRESS=0.0.0.0
SYSLOG_PORT=5410
SYSLOG_ALLOWED_IPS=

PORT=8000

DATABASE_URL="postgresql://db_user:db_pass@localhost:5432/db_name"
JWT_SECRET=SUPER_SECRET_KEY

TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=